Source: aws-dynamo
Priority: optional
Maintainer: David Kimdon <david.kimdon@devicescape.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/devicescape/aws_dynamo

Package: aws-dynamo-dev
Section: libdevel
Architecture: any
Depends: aws-dynamo1 (= ${binary:Version})
Description: AWS DynamoDB Library for C and C++, development files
 AWS DynamoDB API version 2011-12-05 (DynamoDB v1 protocol)
 Supports all DynamoDB operations
 A flexible, efficient, and fast API for accessing DynamoDB from within C applications.
 Supports obtaining AWS credentials from an IAM Role, environment variables or initialization parameters

Package: aws-dynamo1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: AWS DynamoDB Library for C and C++
 AWS DynamoDB API version 2011-12-05 (DynamoDB v1 protocol)
 Supports all DynamoDB operations
 A flexible, efficient, and fast API for accessing DynamoDB from within C applications.
 Supports obtaining AWS credentials from an IAM Role, environment variables or initialization parameters
